<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmugMug4writer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SmugMug4writer.Properties.Settings>
            <setting name="ApiVersion" serializeAs="String">
                <value>1.2.2</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>shOxMUSSF0xLchz65OMOrhuQvcTvh1QW</value>
            </setting>
            <setting name="GalleryCSS" serializeAs="String">
                <value>&lt;style type="text/css"&gt;

.smugcontainer div {overflow: hidden;line-height: 1.1;margin-top: 10px;font-family: Verdana, arial, lucida, sans-serif;font-size: 85%;}

.smugimg li {
	float: left;
	display: block;
	width: 160px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.smugimg li img {width: auto; height: auto; border: solid 1px #aaa; background: #555; padding: 2px; vertical-align: middle;}

.smugimg a {
	display: block;
	text-decoration: none;
}

.smugimg div {background-color:#ffffff;border:1px solid #2A2A2A;float:left;margin-bottom:10px;margin-right:10px;padding:3px 3px 8px;}

&lt;/style&gt;
</value>
            </setting>
        </SmugMug4writer.Properties.Settings>
    </applicationSettings>
</configuration>